*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    background-color: #1a1a1a; /* צבע רקע כחול */
    color: white; /* צבע טקסט לבן */
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    height: 90px;
    width: 100%;
}