<div class="header">
    
    <button (click)="conection()" class="nav-button">
      הרשמה/התחברות
    </button>

    <button (click)="editOrders()" class="nav-button">
        {{ userService.isAdmin() ? 'ניהול הזמנות' : 'היסטוריית הזמנות שלי' }}
    </button>

    
</div>

<!-- <script>
    window.onscroll = function() {
    var header = document.getElementById("main-header");
    if (window.pageYOffset > 50) { // אם גללו יותר מ-50 פיקסלים
        header.classList.add("sticky");
    } else {
        header.classList.remove("sticky");
    }
};
</script> -->