*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px; /* הגובה המקורי */
    background-color: #ffffff;
    transition: all 0.4s ease; /* אנימציה חלקה של כיווץ */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* כשההיידר במצב "סטיקי" (מכווץ) */
.header.sticky {
    height: 20px; /* הגובה המצומצם */
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* הקטנת הלוגו בזמן הגלילה */
.header.sticky img {
    height: 50px; 
}