*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    direction: rtl;
}

.the-page{
    background: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;

}

.the-card{
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    align-items: space-between;
    
}

h2{
    margin-bottom: 5px;
    color: #333;
    font-size: 2.4rem;

}

.subtitle{
    color: #888; 
    margin-bottom: 40px; 
    font-size: 1.1rem;
}

.filed{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-bottom: 15px;
}


label { 
    font-weight: bold; 
    font-size: 0.9rem; 
    margin-bottom: 5px; 
    color: #444;
}

input {
    padding: 12px;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    background: #f9f9f9;
    transition: border-color 0.3s;
}

input.ng-invalid.ng-touched {
  border-color: #ff4d4d !important;
  outline-color: #ff4d4d;
}

input:focus {
    border-color: #46d9e1;
    outline: none;
}

.submit-btn {
    width: 100%;
    background-color: #46d9e1;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: opacity 0.2s;
}

.submit-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.error-message {
  color: #ff4d4d;
  font-size: 0.8rem;
  margin-top: 5px;
  font-weight: 500;
  display: block;
}
.change-link {
  display: block;
  margin-top: 15px;
  color: #46d9e1;
  font-size: 0.85rem;
  cursor: pointer;
}

