.name-row{
    display: flex;
    justify-content: space-between;
    gap: 15px;   
    width: 100%;
    margin-bottom: 10px;
}

.name-row .filed{
    width: 40%;
    flex: 1;
    margin-top: 0;
}


.strength-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.check-btn {
    background-color: #6fbab7; /* צבע טורקיז כהה יותר כמו בתמונה */
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.85rem;
    margin-top: 15px;
    align-self: flex-start; /* להצמיד לימין (בגלל ה-RTL) */
}

.progress-bg {
    width: 100%;
    height: 12px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;

}

.progress-bar {
    height: 100%;
    transition: width 0.4s ease, background-color 0.4s ease;
}

.the-card{
    height: 80vh;
    margin:20px;

}
